@page "/learn_2500"

<h1>
	Basket
</h1>

<div class="row">
	<div class="col">

		<table>
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col">

		<table class="table">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col">

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col">

		<table class="table table-bordered table-striped table-hover table-sm">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

<div class="row">
	<div class="col table-responsive">

		<table class="table table-bordered table-striped table-hover table-sm">
			<thead>
				<tr>
					<th>
						@(Resources.DataDictionary.RowNumber)
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						@(Resources.DataDictionary.Price)
					</th>
					<th>
						@(Resources.DataDictionary.Count)
					</th>
				</tr>
			</thead>

			<tbody>
				@if (Items is not null)
				{
					for (var index = 0; index <= Items.Count - 1; index++)
					{
						var item = Items[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@(item.ProductName)
							</td>
							<td>
								@(item.ProductPrice)
							</td>
							<td>
								@(item.ProductCount)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>
</div>

<hr />

@code
{
	// protected override void OnInitialized()
	// {
	// 	Items = [];

	// 	for (var index = 1; index <= 5; index++)
	// 	{
	// 		var item =
	// 			new ViewModels.BasketItemViewModel
	// 				{
	// 					ProductCount = 1,
	// 					ProductPrice = index * 100,
	// 					ProductName = $"Product {index}",
	// 				};

	// 		Items.Add(item: item);
	// 	}
	// }

	// private List<ViewModels.BasketItemViewModel>? Items { get; set; }

	protected override void OnInitialized()
	{
		for (var index = 1; index <= 5; index++)
		{
			var item =
				new ViewModels.BasketItemViewModel
					{
						ProductCount = 1,
						ProductPrice = index * 100,
						ProductName = $"Product {index}",
					};

			Items.Add(item: item);
		}
	}

	private List<ViewModels.BasketItemViewModel> Items { get; set; } = [];
}
