@page "/learn_2300"

@using Dtat;

<div class="row">
	<div class="col">
		<h5>
			Add New Todo
		</h5>

		Title
		<br />
		<input type="text" class="form-control" @bind="NewTodoItemTitle" @bind:event="onchange" />
		<br />
		<button type="button" class="btn btn-primary" @onclick="AddNewTodoItem">Add Todo Item</button>

		<br />
		<br />

		<h6>
			Not Completed Item Count: @(GetNotCompletedItemCount())
		</h6>
	</div>
</div>

<hr />

<div class="row">
	<div class="col">
		<h3>
			Todos
		</h3>

		<ul>
			@*@if (Todos != null) *@
			@if (Todos is not null)
			{
				foreach (var item in Todos)
				{
					<li>
						<input type="checkbox" @bind="item.IsDone" />
						@(item.Title)
					</li>
				}
			}
		</ul>

		<hr />

		<ul>
			@if (Todos is not null)
			{
				foreach (var item in Todos)
				{
					<li>
						@*<button type="button" class="btn btn-danger btn-sm" @onclick="Delete(item: item)">x</button>*@
						<button type="button" class="btn btn-danger btn-sm" @onclick="() => Delete(item: item)">x</button>
						@*<button type="button" class="btn btn-danger btn-sm" @onclick="(e) => Delete(e, item)">x</button>*@

						<input type="checkbox" @bind="item.IsDone" />
						@(item.Title)
					</li>
				}
			}
		</ul>

		<hr />

		<ul>
			@if (Todos is not null)
			{
				for (var index = 0; index <= Todos.Count - 1; index++)
				{
					var item = Todos[index];

					<li>
						[@(index + 1)]
						<button type="button" class="btn btn-danger btn-sm" @onclick="() => Delete(item: item)">x</button>
						<input type="checkbox" @bind="item.IsDone" />
						@(item.Title)
					</li>
				}
			}
		</ul>

		<hr />

		<h5>
			متاسفانه دستور ذیل کار نمی‌کند
			ولی دلیل منطقی دارد
			با تشکر از آقای مهندس سروش صدر
		</h5>

		<ul>
			@if (Todos is not null)
			{
				for (var index = 0; index <= Todos.Count - 1; index++)
				{
					<li>
						[@(index + 1)]
						<button type="button" class="btn btn-danger btn-sm" @onclick="() => Delete(item: Todos[index])">x</button>
						<input type="checkbox" @bind="Todos[index].IsDone" />
						@(Todos[index].Title)
					</li>
				}
			}
		</ul>
	</div>
</div>

@code
{
	/// <summary>
	/// Similar to OnLoad in Windows Forms Applications
	/// </summary>
	protected override void OnInitialized()
	{
		// **************************************************
		// ViewModels.TodoItemViewModel item =
		// 	new ViewModels.TodoItemViewModel();

		// item.IsDone = false;
		// item.Title = "Do Something";
		// **************************************************

		// **************************************************
		// ViewModels.TodoItemViewModel item = new();

		// item.IsDone = false;
		// item.Title = "Do Something";
		// **************************************************

		// **************************************************
		// var item = new ViewModels.TodoItemViewModel();

		// item.IsDone = false;
		// item.Title = "Do Something";
		// **************************************************

		// **************************************************
		// var item = new ViewModels.TodoItemViewModel() { Title = "Do Something", IsDone = false };
		// **************************************************

		// **************************************************
		// var item =
		// 	new ViewModels.TodoItemViewModel()
		// 	{
		// 		Title = "Do Something",
		// 		IsDone = false
		// 	};
		// **************************************************

		// **************************************************
		// var item =
		// 	new ViewModels.TodoItemViewModel
		// 	{
		// 		Title = "Do Something",
		// 		IsDone = false
		// 	};
		// **************************************************

		// **************************************************
		// var item =
		// 	new ViewModels.TodoItemViewModel
		// 	{
		// 		Title = "Do Something",
		// 		IsDone = false,
		// 	};
		// **************************************************

		// **************************************************
		// var item =
		// 	new ViewModels.TodoItemViewModel
		// 	{
		// 		IsDone = false,
		// 		Title = "Do Something",
		// 	};
		// **************************************************

		Todos = [];
		// Todos = new();
		//Todos = new List<ViewModels.TodoItemViewModel>();

		for (var index = 1; index <= 10; index++)
		{
			var item =
				new ViewModels.TodoItemViewModel
					{
						Title = $"Title {index}",
						IsDone = (index % 2 == 0),
					};

			Todos.Add(item: item);
		}
	}

	private string? NewTodoItemTitle { get; set; }

	private List<ViewModels.TodoItemViewModel>? Todos { get; set; }

	// Bad Practice
	//private List<ViewModels.TodoItemViewModel> _todos = new List<ViewModels.TodoItemViewModel>();

	private int GetNotCompletedItemCount()
	{
		//if (Todos == null)

		if (Todos is null)
		{
			return 0;
		}

		var result =
			Todos
			.Where(predicate: current => current.IsDone == false)
			.Count();

		return result;
	}

	private void AddNewTodoItem()
	{
		NewTodoItemTitle =
			NewTodoItemTitle.Fix();

		if (NewTodoItemTitle is null)
		{
			return;
		}

		if (Todos is null)
		{
			Todos = [];
		}

		bool hasAny =
			Todos
			.Where(predicate: current => current.Title != null &&
				current.Title.ToLower() == NewTodoItemTitle.ToLower())
			.Any();

		if (hasAny)
		{
			return;
		}

		var newTodoItem =
			new ViewModels.TodoItemViewModel()
				{
					IsDone = false,
					Title = NewTodoItemTitle,
				};

		Todos.Add(item: newTodoItem);
	}

	private void Delete(ViewModels.TodoItemViewModel item)
	{
		// if (Todos is not null)
		// {
		// 	Todos.Remove(item: item);
		// }

		Todos?.Remove(item: item);
	}
}
