@page "/posts/create_post_1"

@inject NavigationManager NavigationManager

@if (string.IsNullOrWhiteSpace(value: ErrorMessages) == false)
{
	<div class="alert alert-danger" role="alert">
		@((MarkupString)ErrorMessages)
	</div>
}

@if (Model is null)
{
	return;
}

<fieldset>
	<legend class="text-center">
		Create Post
	</legend>

	<hr class="mt-4">

	<div class="mb-3">
		<div class="form-check">
			<input type="checkbox" id="isActive" @bind-value="Model.IsActive" class="form-check-input" />
			<label for="isActive" class="form-check-label">@(Resources.DataDictionary.IsActive)</label>
		</div>
	</div>

	<div class="mb-3">
		@*
		<span class="form-label">
		@(Resources.DataDictionary.Title)
		</span>
		*@
		<label for="title" class="form-label">@(Resources.DataDictionary.Title)</label>
		<input type="text" id="title" @bind-value="Model.Title" maxlength="50" class="form-control" />
	</div>

	<div class="mb-3">
		<label for="body" class="form-label">@(Resources.DataDictionary.Body)</label>
		<textarea id="body" @bind="Model.Body" @bind:event="oninput" class="form-control"></textarea>
	</div>

	@if (string.IsNullOrWhiteSpace(value: Model.Body) == false)
	{
		<hr class="mt-4">

		@((MarkupString)Model.Body)

		<hr class="mt-4">
	}

	<div>
		<button type="button" class="btn btn-primary" @onclick="Create">
			@(Resources.Buttons.Create)
		</button>

		@*دستور ذیل کار نمی‌کند*@
		@*
		<button type="reset" class="btn btn-secondary">
		Reset - کار نمی‌کند
		</button>
		*@

		<button type="button" class="btn btn-secondary" @onclick="Reset">
			@(Resources.Buttons.Reset)
		</button>
		<button type="button" class="btn btn-warning" @onclick="Return">
			@(Resources.Buttons.Return)
		</button>
	</div>

</fieldset>

@code
{
	protected override void OnInitialized()
	{
		Reset();
	}

	public string? ErrorMessages { get; set; }

	private ViewModels.PostViewModel? Model { get; set; }

	public void Reset()
	{
		Model = new();
		ErrorMessages = null;
	}

	public void Return()
	{
		NavigationManager.NavigateTo
			(uri: "/learn_5000", forceLoad: false);
	}

	public void Create()
	{
		ErrorMessages = null;

		if (Model is null)
		{
			return;
		}

		if (string.IsNullOrWhiteSpace(value: Model.Title))
		{
			ErrorMessages = "Title is required!";
		}

		if (string.IsNullOrWhiteSpace(value: Model.Body))
		{
			if (ErrorMessages is not null)
			{
				ErrorMessages += "<br>";
			}

			ErrorMessages += "Body is required!";
		}

		if (string.IsNullOrWhiteSpace(value: ErrorMessages))
		{
			// Backend -> Save Data!

			NavigationManager.NavigateTo
				(uri: "/learn_5000", forceLoad: false);
		}
	}
}
